services:
  web:
    build:
      context: .
      dockerfile: ./packages/web/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - SERVER_API_PATH=http://api:8000
    networks:
      - app_network
  api:
    build:
      context: .
      dockerfile: ./packages/api/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - API_PATH=https://api.binance.com/api/v3/ticker
      - TICKER_SOURCE_TTL=30
      - REDIS_URL=redis:6379
    networks:
      - app_network
  redis:
    image: redis
    networks:
      - app_network

networks:
  app_network:
    external: false